h1 {
  color: chocolate;
}

h2 {
  color: darkred;
}

img{
  height: 600px;
  width: 700px;
border: solid 10px black;
}

#first {
  height: 300px;
  width: 1350px;
  border: 0;
}
#"map" {
  width: 400px;height:400px;">
